.Layout {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.survey-contents-inner {
    width: 100%;
    padding: 40px 0 122px;
}